# Rust
/target/
Cargo.lock

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
.eggs/
*.egg
.venv/
venv/
.pytest_cache/

# IDE
.idea/
.vscode/
*.swp
*.swo

# maturin
*.whl

# claude
/.claude